.about{
    display: flex;
    background-color: #EAF2FD;
    padding: 10px 10px;
    margin-top: 20px;
    font-family: 'Raleway';
}
.about_principal{
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
}
.about_h1fin{
    font-size: 20px;
}
.about_p1{
    margin-top: 20px;
}
.about_p1fin{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: justify;
    margin-top: 10px;
}
.about_img{
    margin-top: 20px;
}
.about-c{
    display: none;
}
.about-d{
    display: none;
}

@media (min-width: 768px){
    .todo{
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 30px
    }
    .about{
        display: none;
    }
    .about-d{
        display: none;
    }
    .about-c{
        display: flex;
        background-color: #EAF2FD;
        padding: 10px 10px;
        margin-top: 20px;
        font-family: 'Raleway';
    }
    .about_principal-c{
        display: flex;
        flex-direction: column;
        margin: 15px 0px;
    }
    .about_h1fin-c{
        font-size: 20px;
    }
    .about_p1-c{
        margin-top: 20px;
    }
    .about_p1fin-c{
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        text-align: justify;
        margin-top: 10px;
    }
    .about_img-c{
        margin-top: 20px;
    }
}
@media (min-width: 1440px){
    .todo{
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 30px
    }
    .about{
        display: none;
    }
    .about-c{
        display: none;
    }
    .about-d{
        display: flex;
        background-color: #EAF2FD;
        padding: 10px 10px;
        margin-top: 20px;
        font-family: 'Raleway';
    }
    .about_principal-d{
        display: flex;
        flex-direction: column;
        margin: 15px 0px;
    }
    .about_h1fin-d{
        font-size: 20px;
    }
    .about_p1-d{
        margin-top: 20px;
    }
    .about_p1fin-d{
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        text-align: justify;
        margin-top: 10px;
    }
    .about_img-d{
        margin-top: 20px;
    }
}