.experiencia{
    display: flex;
    justify-content: center;
}
.experiencia_container{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
}
.experiencia_title{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.experiencia_titlefin{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    font-family: 'Raleway';
}
.experiencia_menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.experiencia_menus{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.experiencia_menus_img{
    width: 100%;
}
.experiencia_menus_h1{
    font-weight: 700;
    font-size: 16px;
    font-family: 'Raleway';
    margin-bottom: -20px;
}
.experiencia_menus_p1{
    font-weight: 500;
    font-size: 14px;
    font-family: 'Raleway';
}
.experiencia_boton{
    display: flex;
    flex-direction: row;
}
.experiencia_b1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    border: 1px solid #2A7AE4;
    color: #2A7AE4;
    box-sizing: border-box;
}
.experiencia_b2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    margin-left: 16px;
    border: 1px solid #2A7AE4;
    background: #2A7AE4;
    color: white;
}
.experiencia-c{
    display: none;
}
.experiencia-d{
    display: none;
}

@media (min-width: 768px){
    .todo{
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 30px
    }
    .experiencia{
        display: none;
    }
    .experiencia-d{
        display: none;
    }
    .experiencia-c{
        display: flex;
        justify-content: center;
    }
    .experiencia_container-c{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .experiencia_title-c{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .experiencia_titlefin-c{
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        font-family: 'Raleway';
    }
    .experiencia_menu-c{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .experiencia_menus-c1{
        display: flex;
        flex-direction: row;
    }
    .experiencia_menus-c1{
        display: flex;
        flex-direction: row;
    }
    .experiencias_menus-left-c1{
        display: flex;
        justify-content: center;
        width: 65%;
    }
    .experiencia_menus_img-c1{
        width: 80%;
    }
    .experiencias_menus-right-c1{
        gap: 10px;
        display: flex;
        flex-direction: column;
        margin-left: -30px;
        justify-content: center;
    }
    .experiencia_menus_h1-c1{
        font-weight: 700;
        font-size: 16px;
        font-family: 'Raleway';
    }
    .experiencia_menus_p1-c1{
        font-weight: 500;
        font-size: 14px;
        font-family: 'Raleway';
    }
    .experiencia_boton-c1{
        display: flex;
        flex-direction: row;
    }
    .experiencia_boton-c1{
        display: flex;
        flex-direction: row;
    }
    .experiencia_b1-c1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;
        border: 1px solid #2A7AE4;
        color: #2A7AE4;
        box-sizing: border-box;
    }
    .experiencia_b2-c1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;
        margin-left: 16px;
        border: 1px solid #2A7AE4;
        background: #2A7AE4;
        color: white;
    }
    .experiencia_menus-c2{
        display: flex;
        flex-direction: row;
    }
    .experiencia_menus-c2{
        display: flex;
        flex-direction: row;
    }
    .experiencias_menus-left-c2{
        display: flex;
        justify-content: flex-start;
        width: 65%;
    }
    .experiencia_menus_img-c2{
        width: 80%;
    }
    .experiencias_menus-right-c2{
        gap: 10px;
        display: flex;
        flex-direction: column;
        margin-left: 90px;
        justify-content: center;
    }
    .experiencia_menus_h1-c2{
        font-weight: 700;
        font-size: 16px;
        font-family: 'Raleway';
    }
    .experiencia_menus_p1-c2{
        font-weight: 500;
        font-size: 14px;
        font-family: 'Raleway';
    }
    .experiencia_boton-c2{
        display: flex;
        flex-direction: row;
    }
    .experiencia_boton-c2{
        display: flex;
        flex-direction: row;
    }
    .experiencia_b1-c2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;
        border: 1px solid #2A7AE4;
        color: #2A7AE4;
        box-sizing: border-box;
    }
    .experiencia_b2-c2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;
        margin-left: 16px;
        border: 1px solid #2A7AE4;
        background: #2A7AE4;
        color: white;
    }   
}

@media (min-width: 1150px){
    .todo{
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 30px
    }
    .experiencia{
        display: none;
    }
    .experiencia-d{
        display: none;
    }
    .experiencia-c{
        display: flex;
        justify-content: center;
    }
    .experiencia_container-c{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .experiencia_title-c{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .experiencia_titlefin-c{
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        font-family: 'Raleway';
    }
    .experiencia_menu-c{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .experiencia_menus-c1{
        display: flex;
        flex-direction: row;
    }
    .experiencia_menus-c1{
        display: flex;
        flex-direction: row;
    }
    .experiencias_menus-left-c1{
        display: flex;
        justify-content: center;
        width: 65%;
    }
    .experiencia_menus_img-c1{
        width: 80%;
    }
    .experiencias_menus-right-c1{
        gap: 10px;
        display: flex;
        flex-direction: column;
        margin-left: -30px;
        justify-content: center;
    }
    .experiencia_menus_h1-c1{
        font-weight: 700;
        font-size: 16px;
        font-family: 'Raleway';
    }
    .experiencia_menus_p1-c1{
        font-weight: 500;
        font-size: 14px;
        font-family: 'Raleway';
    }
    .experiencia_boton-c1{
        display: flex;
        flex-direction: row;
    }
    .experiencia_boton-c1{
        display: flex;
        flex-direction: row;
    }
    .experiencia_b1-c1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;
        border: 1px solid #2A7AE4;
        color: #2A7AE4;
        box-sizing: border-box;
    }
    .experiencia_b2-c1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;
        margin-left: 16px;
        border: 1px solid #2A7AE4;
        background: #2A7AE4;
        color: white;
    }
    .experiencia_menus-c2{
        display: flex;
        flex-direction: row;
    }
    .experiencia_menus-c2{
        display: flex;
        flex-direction: row;
    }
    .experiencias_menus-left-c2{
        display: flex;
        justify-content: center;
        width: 65%;
    }
    .experiencia_menus_img-c2{
        width: 80%;
    }
    .experiencias_menus-right-c2{
        gap: 10px;
        display: flex;
        flex-direction: column;
        margin-left: 130px;
        justify-content: center;
    }
    .experiencia_menus_h1-c2{
        font-weight: 700;
        font-size: 16px;
        font-family: 'Raleway';
    }
    .experiencia_menus_p1-c2{
        font-weight: 500;
        font-size: 14px;
        font-family: 'Raleway';
    }
    .experiencia_boton-c2{
        display: flex;
        flex-direction: row;
    }
    .experiencia_boton-c2{
        display: flex;
        flex-direction: row;
    }
    .experiencia_b1-c2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;
        border: 1px solid #2A7AE4;
        color: #2A7AE4;
        box-sizing: border-box;
    }
    .experiencia_b2-c2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;
        margin-left: 16px;
        border: 1px solid #2A7AE4;
        background: #2A7AE4;
        color: white;
    }
}