.formacion{
    display: flex;
    background-color: #EAF2FD;
    justify-content: space-evenly;
}
.formacion_container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
    flex-direction: column;
}
.formacion_h1fin{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}
.formacion_menu{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
}
.formacion_menus{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 15vh;
    margin-bottom: 20px;
}
.formacion_img{
    display: flex;
    justify-content: center;    
    background-color: #ffffff;
    padding: 10px;
}
.formacion_h1{
    font-weight: 700;
    font-size: 16px;
    text-align: start;
    font-family: 'Raleway';
    margin-top: 15px;
}
.formacion_p1{
    font-weight: 500;
    font-size: 14px;
    text-align: start;
    font-family: 'Raleway'
}
.formacion-c{
    display: none;
}
.formacion-d{
    display: none;
}

@media (min-width: 768px){
    .todo{
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 30px
    }
    .formacion{
        display: none;
    }
    .formacion-d{
        display: none;
    }
    .formacion-c{
        display: flex;
        background-color: #EAF2FD;
        justify-content: space-evenly;
    }
    .formacion_container-c{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 100px;
        flex-direction: column;
    }
    .formacion_h1fin-c{
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
    }
    .formacion_menu-c{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-evenly;
        width: 90vw;
    }
    .formacion_menus-c{
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 15vh;
        margin-bottom: 20px;
    }
    .formacion_img-c{
        display: flex;
        justify-content: center;    
        background-color: #ffffff;
        padding: 10px;
    }
    .formacion_h1-c{
        font-weight: 700;
        font-size: 16px;
        text-align: start;
        font-family: 'Raleway';
        margin-top: 15px;
    }
    .formacion_p1-c{
        font-weight: 500;
        font-size: 14px;
        text-align: start;
        font-family: 'Raleway'
    }
}
@media (min-width: 1440px){
    .todo{
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 30px
    }
    .formacion{
        display: none;
    }
    .formacion-c{
        display: none;
    }
    .formacion-d{
        display: flex;
        background-color: #EAF2FD;
        justify-content: space-evenly;
    }
    .formacion_container-d{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 100px;
        flex-direction: column;
    }
    .formacion_h1fin-d{
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
    }
    .formacion_menu-d{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 90vw;
        gap: 50px;
    }
    .formacion_menus-d{
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 15vh;
        margin-bottom: 20px;
    }
    .formacion_img-d{
        display: flex;
        justify-content: center;    
        background-color: #ffffff;
        padding: 10px;
    }
    .formacion_h1-d{
        font-weight: 700;
        font-size: 16px;
        text-align: start;
        font-family: 'Raleway';
        margin-top: 15px;
    }
    .formacion_p1-d{
        font-weight: 500;
        font-size: 14px;
        text-align: start;
        font-family: 'Raleway'
    }
}