*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #F5F5F5;
}
.todo{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 3vh;
}
.header_left{
    display: flex;
    align-items: center;
}
.header_right_logo{
    display: flex;
    text-decoration: none;
    gap:10px;
    align-items: center;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 1rem;
    color: #464646;
}
.header_right_logofinal{
    display: flex;
}
.header_right{
    display: flex;
}
.header_right_parrafo{
    font-family: 'Raleway';
    font-size: 1rem;
    color: #464646;
    text-decoration: none;
}

.encabezado{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 5px 0px;
}
.encabezado1{
    display: flex;
    padding-top: 15px;
}
.encabezado1_img{
    width: 20%;
}
.encabezado2{
    display: flex;
    padding-top: 15px;
}
.encabezado2_h1{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: justify;
}
.encabezado3{
    display: flex;
    padding-top: 15px;
}
.encabezado3_p{
    font-family: 'Raleway';
    text-align: justify;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.encabezado4{
    display: flex;
    padding-top: 15px;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
a.encabezado4_redes{
    text-decoration: none;
    font-family: 'Raleway';
    text-align: justify;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #464646;
}
.encabezado-c{
    display: none;
}
.header-c{
    display: none;
}
.header-d{
    display: none;
}
.encabezado-d{
    display: none;
}

@media (min-width: 768px){
    .todo{
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 30px
    }
    .header-c{
        display: flex;
        padding-top: 30px;
    }
    .header_left-c{
        display: none;
    }
    .header_right-c{
        display: none;
    }
    .encabezado{
        display: none;
    }
    .encabezado-c{
        justify-content: space-around;
        align-content: flex-start;
        display: flex;
        flex-direction: row-reverse;
    }
    .encabezado1-c{
        display: flex;
        flex-direction: row-reverse;
    }
    .encabezado1_img-c{
        width: 157px;
        margin-left: 32px;
    }
    .encabezados-c{
        display: flex;
        flex-direction: column;
        width: 88vw;
    }
    .encabezado2_h1-c{
        font-family: 'Raleway';
        text-align: justify;
        font-style: normal;
        font-size: 22px;
        font-weight: 700;
        line-height: 26px;
    }
    .encabezado3_p-c{
        font-family: 'Raleway';
        text-align: justify;
        font-style: normal;
    }
    .encabezado2-c{
        padding: 10px;
    }
    .encabezado3-c{
        padding: 10px;
    }
    .encabezado4-c{
        display: flex;
        padding: 10px;
        justify-content: center;
        margin-top: 10px;
    }
    .encabezado4_redes-c{
        display: flex;
        align-items: center;
        padding-left: 20px;
        text-decoration: none;
        font-family: 'Raleway';
        text-align: justify;
        font-style: normal;
        color: black;
    }
    .encabezado4_img-c{
        display: flex;
        gap: 20px;
    }
}   

@media (min-width: 1440px){
    .todo{
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 30px
    }
    .header{
        display: none;
    }
    .header-c{
        display: none;
    }
    .header-d{
        display: flex;
        padding-top: 30px;
        justify-content: space-between;
    }
    .header_left-d{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .header_right_logo-d{
        display: flex;
        text-decoration: none;
        gap:10px;
        align-items: center;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 1rem;
        color: #464646;
    }
    .header_right_logofinal-d{
        display: flex;
    }
    .header_right-d{
        display: flex;
        gap: 20px;
    }
    .header_right_parrafo-d{
        font-family: 'Raleway';
        font-size: 1rem;
        color: #464646;
        text-decoration: none;
    }
    .header_right_parrafo-dfinal{
        font-family: 'Raleway';
        font-size: 1rem;
        font-weight: bold;
        color: #464646;
        text-decoration: none;
    }
    .encabezado-c{
        display: none;
    }
    .encabezado-d{
        display: flex;
        flex-direction: column;
    } 
    .encabezado-d{
        justify-content: space-around;
        align-content: flex-start;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 30px;
    }
    .encabezado1-d{
        display: flex;
        flex-direction: row-reverse;
    }
    .encabezado1_img-d{
        width: 368px;
        margin-left: 32px;
    }
    .encabezados-d{
        display: flex;
        flex-direction: column;
        width: 48vw;
    }
    .encabezado2_h1-d{
        font-size: 52px;
        font-weight: 700;
        line-height: 50px;
        font-family: 'Raleway';
        text-align: justify;
        font-style: normal;
    }
    .encabezado3-d{
        padding-top: 50px;
    }
    .encabezado3_p-d{
        font-size: 20px;
        line-height: 23px;
        font-family: 'Raleway';
        text-align: justify;
        font-style: normal;
    }
    .encabezado4-d{
        padding-top: 30px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 30px;
        
    }
    .encabezado4_redes-d{
        font-size: 20px;
        text-decoration: none;
        color: #464646;
        gap: 20px;
        display: flex;
        align-items: center;
        font-family: 'Raleway';
    }
    
}